*{
    margin: 0;
    padding: 0;   
}
body{
    background-image: url('../images/backcover.svg');
    background-position: right top 0;
    background-repeat: no-repeat;
}
.main-div{
    font-family: 'Roboto', sans-serif;  
    position: relative;
}
nav{
    display: flex;
    flex-direction: row;
    height: 7vh;
    justify-content: space-between;
    margin: 3% 7%;
    align-items: center;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-item{
    margin-right: 3rem;
    margin-left: 3rem;
    list-style-type: none;
    font-size: 20px;
    color: #212d73;
    font-weight: 600;
}
.signin-btn , .learn-more-btn{
    border: none;
    padding: 7px 24px;
    color: white;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(153,110,242,1) 30%, rgba(229,129,224,1) 60%);
    font-size: 20px;
} 
.intro-section{
    display: flex;
    flex-direction: row;
}
.intro-img{
    position: absolute;
    right: 7%;
}
.left-section{
    margin-left: 7%;
    width: 30%;
    margin-top: 5%;
}
.vector-img{
    position: absolute;
    left: 50%;
    top: 110%;
}
.vector-dot{
    position: absolute;
    left: 53%;
    top: 110%;
}
.left-section h1{
    font-size: 5rem;
    margin: 5%;
    color: #212d73;
}
.left-section h4{
    width: 59%;
    margin: 6%;
    color: #888ba4;
    line-height: 2rem;
}
.learn-more-btn{
    margin-left: 6%;
    font-size: 2rem;
    border-radius: 35px;
    margin-top: 5%;
}

@media screen and (max-width:1630px) and (min-width:1560px){
    .vector-img{
        left: 46%;
        top: 110%;
    }
    .vector-dot{
        left: 50%;
        top: 110%;
    }
}

@media screen and (max-width:1560px) {
    .vector-img{
        left: 42%;
        top: 100%;
    }
    .vector-dot{
        left: 46%;
        top: 100%;
    }
}

@media screen and (max-width:1320px) and (min-width: 1080px) {
    .left-section h1{
        font-size: 4rem;
    }
    .nav-items{
        display: none;
    }
}

@media screen and (max-width:1080px) and (min-width: 768px) {
    .left-section h1{
        font-size: 4rem;
    }
    .nav-items{
        display: none;
    }
    .intro-section{
        flex-direction: column;
    }
    .left-section{
        width: 100%;
        text-align: center;
        margin: 5% 7%;
    }
    .left-section h4 {
        width: 80%;
        margin: 6%;
        color: #888ba4;
        line-height: 2rem;
    }
    .learn-more-btn{
        margin-left: 0%;
    }
}

@media screen and (max-width:768px) and (min-width: 320px) {
    .left-section h1{
        font-size: 4rem;
    }
    .nav-items{
        display: none;
    }
    .intro-section{
        flex-direction: column;
    }
    .left-section{
        width: 80%;
        text-align: center;
        margin: 5% 7%;
    }
    .left-section h4 {
        width: 80%;
        margin: 6%;
        color: #888ba4;
        line-height: 2rem;
    }
    .learn-more-btn{
        margin-left: 0%;
    }
}